<div id="logtcktId">
	<div class="container logtckt-font">
		<div class="row">
			<div class="col-sm-12 center">
				<h2>Please log the ticket</h2>
			</div>
		</div>	
		<br>
		<form id="logTocketForm" name="logTcktForm" method="POST" novalidate>
			<div class="row center margin-top-20">
				<div class="col-sm-4">
					<label for="comment">Customer Name</label>
				</div>
				<div class="col-sm-4">
					<input type="text" 
							class="form-control" 
							id="username" 
							ng-model="record.cusName"
							placeholder="Enter customer name. Maximum 30 characters"
							autofocus
							>
				</div>
			</div>	

			<div class="row center margin-top-20">
				<div class="col-sm-4">
					<label for="comment">Comment</label>
				</div>
				<div class="col-sm-4">
					<textarea class="form-control noresize" 
								rows="5" 
								id="comment"
								ng-model="record.comment"
								placeholder="Enter comments for ticket. Maximum 500 characters.">
					</textarea>
				</div>
			</div>	

			 <div class="row center margin-top-20">
				<div class="col-sm-4">
					<label for="comment">Created By</label>
				</div>
				<div class="col-sm-4">
					<div class="pull-left" ng-focus="hideMessage()">
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								{{record.createdBy}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="item in createByItems" class="cursor">
									<a ng-click="selectDropDown(item, record, 'createdBy')">{{item}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			
			<div class="row center margin-top-20">
				<div class="col-sm-4">
					<label for="comment">Assign To</label>
				</div>
				<div class="col-sm-4">
					<div class="pull-left">
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								{{ record.assignTo }}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="item in assignToItems" class="cursor">
									<a ng-click="selectDropDown(item, record, 'assignTo')">{{item}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>			
			</div>

			<div class="row center margin-top-20">
				<div class="col-sm-4">
					<label for="comment">Status</label>
				</div>
				<div class="col-sm-4">
					<div class="pull-left">
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								{{ record.status }}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="item in statusItems" class="cursor">
									<a ng-click="selectDropDown(item, record, 'status')">{{item}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>			
			</div> 
			<br>
			<div class="row center margin-top-20">
				<div class="col-sm-5">
					<button type="button" class="btn btn-success btn-lg pull-right" ng-click="save(record)">Save Ticket</button>
				</div>
				<div class="col-sm-5">
					<button type="button" class="btn btn-warning btn-lg pull-left" ng-click="reset()">Reset Values</button>
				</div>
			</div>
		</form>
		<br>
		<div class="center">
			<span ng-show="showMsg" class="red"><b>{{ statusMessage }}</b></span>		
		</div>
		
	</div>
</div>	